.main {
    display: flex;
    justify-content: center;
    margin-top: 100px;

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    flex-direction: column;
    background-color: #3d9295;
    border-radius: 10px;
    box-shadow: rgba(253, 182, 182, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.dropdown {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 15px;
}
.result {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 30px;
    background-color: white;
    width: 400px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
}