.tab {
   background-color: #ddd;
   padding: 10px;
}

.tabitem {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;

}

.routingBtn {
   display: flex;
   flex-direction: row;
}

.dropdown {
   display: flex;
   flex-direction: row;
   gap: 5px;
}

.setdefault {
   width: 170px;
}

.homebtn {
   color: white;
   font-weight: 700px;
   padding: 10px;
   background-color: #526ed3;
   border-radius: 8px;
}